@charset

*{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;

}

body{
    background-image: linear-gradient(to right, #428C5C, #022601);
}

main{
    background-color: #8ABFA1 ;
    border-radius: 10px;
    box-shadow: 5px, 5px, 15px, #021d017d ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:#A65369 ;
    text-align: center;
    text-shadow: 1px, 1px, 2px, #5a2d3989;
}

h2{
    color: #646825 ;
}

p {
    text-align: justify;
}